* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0d0806;
    color: #f5e6c8;
    font-family: "Inter", sans-serif;
}

.navbar {
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    background: #0d0806;

    border-bottom: 1px solid rgba(212, 175, 55, 0.2);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #d4af37;

    font-family: "Cinzel", serif;
    font-weight: 700;

    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #f5e6c8;

    text-decoration: none;

    font-size: 14px;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #d4af37;
}

.menu-btn {
    display: none;

    background: none;
    border: none;

    color: #d4af37;

    font-size: 25px;

    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.section {
    padding: 100px 8%;
}

.small-title {
    color: #d4af37;

    font-size: 12px;

    letter-spacing: 3px;

    margin-bottom: 18px;
}

h1,
h2,
h3 {
    font-family: "Cinzel", serif;
}

h1 {
    font-size: clamp(45px, 7vw, 90px);

    color: #d4af37;

    margin-bottom: 25px;
}

p {
    color: #b9afa2;
    line-height: 1.8;
}

.about {
    min-height: 85vh;

    display: grid;

    grid-template-columns: 1fr 0.8fr;

    align-items: center;

    gap: 80px;
}

.about-text > p:not(.small-title) {
    max-width: 600px;

    margin-bottom: 18px;
}

.about-image img {
    width: 100%;

    max-width: 430px;

    border-radius: 5px;

    box-shadow: 0 0 50px rgba(212, 175, 55, 0.12);
}

.about-image {
    display: flex;
    justify-content: center;
}

.highlights {
    display: flex;

    gap: 45px;

    margin-top: 45px;
}

.highlights div {
    text-align: center;
}

.highlights span {
    font-size: 25px;
}

.highlights h3 {
    color: #d4af37;

    font-size: 12px;

    margin-top: 10px;

    letter-spacing: 1px;
}

.traditions {
    background: #120907;

    text-align: center;
}

.traditions h2 {
    font-size: clamp(30px, 4vw, 50px);

    margin-bottom: 25px;
}

.tradition-grid {
    margin-top: 55px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.tradition-card {
    background: #1a0b0b;

    border: 1px solid rgba(212, 175, 55, 0.15);

    padding: 35px 25px;

    min-height: 270px;

    display: flex;

    flex-direction: column;

    align-items: center;

    transition: 0.3s;
}

.tradition-card:hover {
    transform: translateY(-8px);

    border-color: rgba(212, 175, 55, 0.5);
}

.card-icon {
    font-size: 35px;

    margin-bottom: 20px;
}

.tradition-card h3 {
    color: #d4af37;

    font-size: 20px;

    margin-bottom: 15px;
}

.tradition-card p {
    font-size: 14px;
}

.learn-btn {
    margin-top: auto;

    background: none;

    border: none;

    color: #d4af37;

    cursor: pointer;

    font-size: 13px;
}